<div class="col-lg-3">
  <div class="product-item">
    <div>
      <a href="{% url 'product' product_image.product.id %}">
      <img style="height: 200px;" src='{{product_image.image.url}}' class="img-responsive">
    </a>
    </div>
    {% if product_image.product.discount %}
      <div class="discount-container">
        <span>- {{product_image.product.discount}}%</span>
      </div>
    {% endif %}
    <h4>{{product_image.product.name}}</h4>
    <p>
      {{product_image.product.short_description}}
    </p>
    <div class="price-zona">
       {{product_image.product.price}} $
    </div>
    <div class="add-to-cart-btn">
      <button class="btnn btn-success">
        <a class="text" href="{%url 'feedback' %}">Замовити тур</a>
      </button>
    </div>
  </div>
</div>
